<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/main.css")
</head>
<body>
    <div class="container mt-3">
        @RenderBody()
    </div>

    @Scripts.Render("~/Scripts/modernizr-2.8.3.js")
    @Scripts.Render("~/Scripts/jquery-3.0.0.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/umd/popper.min.js")
</body>
</html>
