@model FW_Assessment2.ViewModels.TrashBagViewModel

@{ ViewBag.Title = "Available Trash Bags"; }

<h1 class="text-center">List of available Trash Bags</h1>

<a class="btn btn-primary mb-4" href="@Url.Action("Index", "Home")"><i class="fa fa-arrow-left mr-2"></i>Back to Home Page</a>

@if (!Model.TrashBags.Any())
{
<p> We don't have any Trash Bags yet.</p> }
else
{
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Brand</th>
            <th scope="col">Volume (liters)</th>
            <th scope="col">Compostable</th>
            <th scope="col">Remove</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bag in Model.TrashBags)
        {
<tr>
    <th scope="row">@bag.Id</th>
    <td>@Html.ActionLink(bag.Brand + " - " + bag.Volume + "L" + (bag.Compostable ? " - Compostable" : ""), "Details", "TrashBags", new { id = bag.Id }, null)</td>
    <td>@bag.Brand</td>
    <td>@bag.Volume</td>
    <td>@bag.Compostable</td>
    <td><a class="btn btn-danger mb-4" href="@Url.Action("Delete", "TrashBags", new { id = bag.Id })"><i class="fa fa-times mr-2"></i>Remove</a></td>
</tr>}
    </tbody>
</table>}

<!-- Button trigger modal -->
<div class="mb-4">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal">
        Add a Trash Bag
    </button>
    <a class="btn btn-warning" href="@Url.Action("Reset", "TrashBags")"><i class="fa fa-bomb mr-2"></i>Reset default</a>
</div>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("Add", "TrashBags", FormMethod.Post))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add a Trash Bag</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="brand">Brand</label>
                        <input type="text" class="form-control" id="brand" name="brand" placeholder="Tesco" required>
                    </div>
                    <div class="form-group">
                        <label for="volume">Volume (liters)</label>
                        <input type="number" min="1" step="1" class="form-control" name="volume" id="volume" placeholder="10" required>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="compostable" name="compostable">
                        <label class="form-check-label" for="compostable">
                            Compostable
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save" />
            </div>
            }
        </div>
    </div>
</div>